body{
     background-color:silver;
}
header{
    background-color:black;
    -webkit-text-fill-color: silver;
}
.clear {
    clear: both;
}
header .opt {
    float: left;
    padding-top: 10px;
}
header .logo {
    float: right;
}
header .logo img {
    margin-right: 20px;
    max-width: 150px;
    max-height: 70px;
    padding-bottom: 5px;
    padding-top: 5px;
}

      